$silver-100:#f9faff;
$silver-200:#ececec;
$gray:#c2c2c2;
$dark:rgb(49, 53, 43);
$activeElement:#ff6838;
$white:#fff;
$title:rgb(54, 56, 83);
$fonIcon:rgba(255, 122, 80, 0.1);

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubikItalic-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
}