$silver-100:#f9faff;
$silver-200:#ececec;
$gray:#c2c2c2;
$dark:#31352b;
$activeElement:#ff6838;
$white:#fff;
$title:#363854;





%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}